{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-[#0E1324] text-[#C3C7C1]">
    <header>
        <nav class="bg-[#060F31] flex justify-between items-center px-3 py-3 max-lg:hidden">
            <div class="flex items-start">
                <a href="{% url 'inicio' %}" class="flex rounded-full text-lg font-bold bg-zinc-800 p-5 gap-2">
                    <svg width="32" height="32" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                        <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2"/>
                        <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23"/>
                    </svg>
                    The Goat Games</a>
            </div>

            <div>
                <a href="{% url 'inicio' %}" class="px-4 py-1.5 text-sm rounded-full text-white hover:bg-[#3C9B93] transition duration-200">Inicio</a>
                <a href="{% url 'juegos' %}" class="px-4 py-1.5 text-sm rounded-full text-white hover:bg-[#3C9B93] transition duration-200">Juegos</a>
                <a href="{% url 'resenas' %}" class="px-4 py-1.5 text-sm rounded-full text-white hover:bg-[#3C9B93] transition duration-200">Reseñas</a>
            </div>

<div class="flex items-center gap-3">
    {% if user.is_authenticated %}
        <span class="px-3 py-2 text-sm font-medium">
            Hola, {{ user.username }}
        </span>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="px-4 py-1.5 text-sm rounded-full text-white hover:bg-[#3C9B93] transition duration-200">
                Cerrar sesión
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="px-4 py-1.5 text-sm rounded-full text-white hover:bg-[#3C9B93] transition duration-200">
            Iniciar sesión
        </a>
                <a href="{% url 'register' %}" class="px-4 py-1.5 text-sm rounded-full text-white hover:bg-[#3C9B93] transition duration-200">
            Registrarse
        </a>
    {% endif %}
</div>
        </nav>
        <div class="flex flex-col ">
            {% for categoria in categorias_globales %}
                <a href="{% url 'juegos' categoria.id %}" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-zinc-600">{{ categoria.nombre }}</a>
            {% endfor %}
        </div>
    </header>
    <main class="bg-[#0E1324] text-[#C3C7C1] flex-grow">
        {% block body %}
        {% endblock %}
    </main>
    <footer class="bg-[#060F31] text-[#C3C7C1] text-center p-3 mt-5">
        <div class="mx-auto w-full max-w-screen-xl p-4 grid grid-cols-2">
            <div>
                <h2 class="font-semibold">Recursos</h2>
                <ul>
                    <li><a href="https://djangoproject.com/" class="hover:underline">Django</a></li>
                    <li><a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a></li>
                </ul>
            </div>
            <div>
                <h2 class="font-semibold">Contacto</h2>
                <ul>
                    <li><a href="https://github.com/CarlaNada" class="hover:underline">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/carla-nadalig-" class="hover:underline">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-6 border-default sm:mx-auto lg:my-8" />
        <div class="flex items-center"></div>
            <p class="flex justify-center">&copy; {{ anio_actual }} {{ nombre_sitio }}. Todos los derechos reservados.</p>    
        </div>
    </footer>
</body>
</html>

