{% extends './base.html' %}

{% block title %} Borrar juego {% endblock %}

{% block body %}
    <section class="bg-zinc-300 gap-6 px-10 py-5 flex flex-col justify-center items-center text-center">
        <h1 class="font-lg text-xl font-bold py-5">
            Borrar juego
        </h1>

        <form class="flex flex-col items-start gap-5 border border-black p-5 rounded-lg bg-zinc-400" method="POST">
            {% csrf_token %}
            <h1>Esta por borrar el juego: <i>"{{ juego.titulo }}"</i></h1>
            <p>Desea continuar?</p>
            <div>
                <button class="border border-black p-2 rounded-lg bg-red-200" type="submit">Si</button>
                <a href="{% url 'juegos' %}" class="border border-black p-2 rounded-lg bg-zinc-200">No, volver</a>
            </div>
        </form>

    </section>
    
{% endblock %}