{% extends './base.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}
    <section class="bg-zinc-300 gap-6 px-10 py-24 mb-32 flex flex-col justify-center items-center text-center">
        <h1 class="font-xl flex text-5xl font-bold p-5">
            Aprendé lo último en IA y tecnología con clases online en vivo
        </h1>

        <article>
            <p class="font-semibold">
                Cursos y carreras con clases online en vivo junto a expertos de la industria.
                Accedé a una suscripción con workshops siempre actualizados con lo último de lo último en IA y tecnología, y creá tus propios cursos en minutos.
            </p>
        </article>

        <div class="">
            <a href="{% url 'juegos' %}" class="px-3 py-2 rounded-md text-sm font-medium bg-orange-500 hover:bg-orange-600">Inscribirme ahora</a>
        </div>
    </section>
    
{% endblock %}