{% extends './base.html' %}

{% block title %} Reseñas {% endblock %}

{% block body %} 
    <div class="flex flex-col p-5">
        <h1 class="font-xl flex justify-center text-5xl font-bold p-5">Reseñas</h1>
        <a href="{% url 'crearResena' %}" class="flex w-fit px-10 py-2 m-5 bg-orange-500 text-white rounded rounded-3xl hover:bg-orange-600">
            Crear reseña
        </a>
        <article class="flex flex-col">
            {% for resena in resenas %}
                {% if resena.activo %}
                    <div class="border border-zinc-400 shadow-lg rounded-lg bg-white p-3 mb-3">
                        <p><b>{{ resena.usuario }}</b> - {{ resena.fecha }}</p>
                        <p><b>Juego:</b> {{ resena.videojuego }} </p>
                        <p>{{ resena.comentario }}</p>
                        <div class="flex gap-3 m-1 justify-end">
                            <a href="{% url 'editarResena' resena.id %}" class="flex w-fit p-2 rounded-lg bg-zinc-200">
                            Editar
                            </a>
                            <a href="{% url 'borrarResena' resena.id %}" class="flex w-fit p-2 rounded-lg bg-red-200">
                                Borrar
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </article>
    </div>
{% endblock %}